In [9]:
import pandas as pd 
from sklearn.impute import SimpleImputer

In [10]:
df = pd.read_csv('indian_images')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      251 non-null    int64
 1   id              251 non-null    int64
 2   gender          251 non-null    int64
 3   region          251 non-null    object
 4   age             207 non-null    float64
 5   height          0 non-null      float64
 6   weight          0 non-null      float64
 7   detector_score  251 non-null    int64
 8   scale           251 non-null    float64
dtypes: float64(4), int64(4), object(1)
memory usage: 17.8+ KB

In [17]:
imputer = SimpleImputer(strategy= 'most_frequent')

In [18]:
df = df[['id','gender','age']]

In [19]:
df

      id  gender   age
0      1       1  26.0
1      2       1  25.0
2      3       1  27.0
3      4       1  24.0
4      5       1   NaN
..   ...     ...   ...
246  247       1   NaN
247  248       1   NaN
248  249       1   NaN
249  250       1   NaN
250  251       1   NaN

[251 rows x 3 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      251 non-null    int64
 1   gender  251 non-null    int64
 2   age     207 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 6.0 KB

In [22]:
df['age'] = imputer.fit_transform(df[['age']])

In [24]:
def age_bin(age):
  if age >= 13 and age <= 29:
    return '19-29'
  elif age >= 30 and age <= 39:
    return '30-39'
  elif age >= 40 and age <= 49:
    return '40-49'
  elif age >= 50 and age <= 59:
    return '50-59'
  elif age >= 60 and age <= 69:
    return '60-69'
  elif age >= 70 and age <= 79:
    return '70-79'
  else:
    return '80-96'
df['age_group'] = df['age'].apply(age_bin)
df.head()

   id  gender   age age_group
0   1       1  26.0     19-29
1   2       1  25.0     19-29
2   3       1  27.0     19-29
3   4       1  24.0     19-29
4   5       1  22.0     19-29

In [29]:
df.to_csv('modified_indian.csv',index=False)

In [26]:
df["gender"] = df["gender"].map({1: "Male", 0: "Female"})

In [28]:
df

      id gender   age age_group
0      1   Male  26.0     19-29
1      2   Male  25.0     19-29
2      3   Male  27.0     19-29
3      4   Male  24.0     19-29
4      5   Male  22.0     19-29
..   ...    ...   ...       ...
246  247   Male  22.0     19-29
247  248   Male  22.0     19-29
248  249   Male  22.0     19-29
249  250   Male  22.0     19-29
250  251   Male  22.0     19-29

[251 rows x 4 columns]